- restaurants.each_with_index do |restaurant, index|
  .relative.card.l-card.border-box.inline-block.v-align-top{name: 'card'}
    .l-square-parent
      .l-sized-child
        .l-card-padding.height-100.width-100
          .m-bg-white.height-100.width-100.m-border.relative
            .absolute-vertical-center.text-center.width-100.border-box.l-inner-card-padding.l-z-index-5.l-medium-vertical-padding
              .card-name= restaurant.name
              = render 'shared/ratings', average_rating: average_rating

            .border-box.l-inner-card-padding.height-100.l-medium-vertical-padding
              .relative.height-100
                .card-days-ago.absolute.bottom
                  .inline-block.days.m-color-primary= TimeFormatter.days_ago(restaurant.last_visited)
                  .inline-block.prompt-container.relative
                    .small-card-prompt last visited
                    .medium-prompt.m-color-primary days ago

                .absolute.bottom.right
                  .fa.fa-calendar.card-icon.clickable

                - if index == 0 && recommendation_index == 0
                  .absolute.right.top.card-bookmark.m-color-warning
                    .inline-block.small-card-prompt #1 pick
                    .inline-block.fa.fa-bookmark.card-icon
