.rating
  = link_to new_user_session_path, class: 'l-no-decoration' do
    - star_states(average_rating).each_with_index do |state, index|
      - hash = star_data(state, index, current_user, restaurant, user_signed_in?)
      %span.clickable{hash}
