.m-bg-white
  .container.l-medium-vertical-padding
    .row
      .col-lg-12
        .btn-group{'aria-label' => '..', :role => 'group'}
          %button.btn.btn-primary
            Recommended

          .btn-group
            %button.btn.btn-default.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :type => 'button'}
              Filter
              %span.caret
            %ul.dropdown-menu
              - 5.times do |index|
                %li
                  %a{href: '#'}
                    = "#{index + 1} stars only"
