= render 'shared/sub_nav'
.m-bg-default.height-100.width-100
  .container
    .row
      .col-lg-12
        %h3= 'Restaurants'
      .col-lg-12
        - @recommendations.each_with_index do |(value, restaurants), index|
          = render 'shared/card', restaurants: restaurants, average_rating: Average.find(value, restaurants.count), index: index
