.rating {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star:before {
  content: "\f006";
  color: #777777;
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}
.days-ago {
  .days {
    font-size: 33px;
    letter-spacing: 0.5px;
    line-height: 0px;
  }
  .prompt-container {
    top: 0px;
  }
  .small-prompt {
    font-size: 12px;
  }
  .medium-prompt {
    font-size: 14px;
    line-height: 10px;
  }
}
.calendar-icon {
  font-size: 24px;
}