@import 'variables';

.rating {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star:before, .star-selected:before {
  color: #777777;
}
.star:before {
  content: '\f006';
}
.star-selected:before, .star-voted:before {
  content: '\f005';
}
.rating span[class*='star']:hover:before, .rating span[class*='star']:hover ~ span[class*='star']:before {
  content: '\f005';
  color: $warning;
}
.star-voted:before {
  color: $warning;
}
.card-name {
  font-size: 30px;
  margin: 0;
}
.card-days-ago {
  .days {
    font-size: 33px;
    letter-spacing: 0.5px;
    line-height: 0px;
  }
  .prompt-container {
    top: 0px;
  }
  .medium-prompt {
    font-size: 14px;
    line-height: 10px;
  }
}
.small-card-prompt {
  font-size: 12px;
}
.card-bookmark {
  top: -12px;
}
.card-icon {
  font-size: 24px;
}
.plus-card {
  font-size: 40px;
  &:hover {
    .m-bg-primary {
      background: #3071a9;
    }
  }
}
.calendar-icon:hover {
  color: $info;
}
