@import 'variables';
@import 'mixins';

.l-z-index-5 {
  z-index: 5;
}
.l-margin-top-nav-height {
  margin-top: $nav-height;
}
.l-medium-vertical-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.l-card-padding {
  padding-right: 10px;
}
.l-inner-card-padding {
  padding-left: 10px;
  padding-right: 10px;
}
.l-card {
  width: 100%;
  @include respond-to($med, $lrg) {
    width: 50%;
  }
  @include respond-to($lrg) {
    width: 25%;
  }
  margin-bottom: 10px;
  margin-right: -4.5px;
}
.l-square-parent {
  width: 100%;
  padding-bottom: 60%;
  @include respond-to($med) {
    padding-bottom: 100%;
  }
}
.l-sized-child {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
