@import 'variables';

.m-bg-primary {
  background: $primary;
}
.m-bg-default {
  background: $default;
}
.m-bg-white {
  background: white;
}
.m-border {
  border-left: 4px solid $primary;
}
.m-color-primary {
  color: $primary;
}
